{% extends 'SitioWebNoticiasCaos/base_template.html' %}

{% block title %} Borrar {% endblock %}

{% block content %}

<h1> Borrar Artículo</h1>

<br/>
<h2>Borrar: {{ object.tituloArticulo }}</h2>
<br/>
<br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Estas seguro de querer borrar el artículo?</strong>
        <br/>
        <button class="btn btn-secondary">Borrar</button>
    </form>


</div>


{% endblock %}



<!--<h1> Borrar Artículo</h1>
<br/><br/>
<h2>Borrar: {{ object.tituloArticulo }}</h2>
<div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalBorrar">
        Borrar Articulo
    </button>
</div>

