
{% extends 'SitioWebNoticiasCaos/base_template.html' %}

{%block title %} {{object.etiquetaTitulo}} {% endblock %}

{% block content %}
   

<body>
    <h1>{{ object.tituloArticulo }}</h1>
    <small>Por {{ object.usuarioAutor }} -  <a href="{% url 'editararticulo' object.pk %}">(Editar) - <a href="{% url 'borrarnoticia' object.pk %}">(Borrar) </a></small><br/>
    <hr>
    <br/>
    <div>{{object.contenidoArticulo|safe}}</div>
</body>

<a href="{% url 'indexprueba' %}" class="btn btn-secondary"> Volver</a>



{% endblock %}